$primaryColor: blue;
$shapeColor: red;

* {
  box-sizing: border-box;
}

h1{
    color: $primaryColor;
}

.container{
    display: grid;
    width: 100vb;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
}

.circle{
  > div {
    width: 100px;
    height: 100px;
    background-color: $shapeColor;
    border-radius: 50%;
  }
  
}