$primaryColor: blue;
$shapeColor: red;
* {
  box-sizing: border-box;
}

h1{
    color: $primaryColor;
}

.container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;

}

.circle{
  > div {
    width: 100px;
    height: 100px;
    background-color: $shapeColor;
    border-radius: 50%;
    @media only screen and (max-width: 320px){
      height: 50px;
      width: 50px;
    }
  }
}

.square {
    > div{
      width: 100px;
      height: 100px;
      background-color: $shapeColor;
      @media only screen and (max-width: 320px){
        height: 50px;
        width: 50px;
      }
    }
}


.triangle{
   > div{
      width: 0px;
      height: 0px;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid red;
      margin: auto;
      margin-top: 30px;
      display: block; 
      @media only screen and (max-width: 320px){
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 50px solid red;
        margin-top: 15px;
      }       
  }
}


.hexagon {
   > div{
  width: 100px;
  height: 50px;
  background-color: red;
  position: relative;
  margin: auto;
  margin-top: 40px;
  @media only screen and (max-width: 320px){
    width: 50px;
    height: 25px;
    margin-top: 20px;
  }  
  &:before{
      content: '';
      position: absolute;
      top: -25px;
      width:0;
      left:0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 25px solid red;
      @media only screen and (max-width: 320px){
        top: -12px;;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
       border-bottom: 12px solid red;
      }  
  }
  &:after{
      content: '';
      position: absolute;
      bottom: -25px;
      width:0;
      left:0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 25px solid red;
      @media only screen and (max-width: 320px){
        bottom: -12px;;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 12px solid red;
      }        
  }}
}

.circle, .square, .hexagon, .triangle {

    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 40px;
    min-height: 400px;
    min-width: 400px;
    @media only screen and (max-width: 320px){
      min-height: 200px;
      min-width: 200px;
    }
    @media only screen and (min-width:321px) and (max-width:768px){
      min-height: 300px;
      min-width: 300px;
    }
      
    > div{
      cursor: move;
      margin: 2px;
    }
}